.header__container{
    height: 120px;
//menu
    a{
        color: $regularFontColor;
    }
    //nav
    .nav__container{
        margin-bottom: 0px;
        ul{
            position: absolute;
            margin-top: 69px;
            right: 0;
            padding-right: 26px;
            li{
                float: right;
            }
        }
    }

    
    .search__container form{
        position: relative;
        img{
            position: absolute;
            left: 17px;
            top: 1px;
        }
    
        input{
            border-radius: unset;
            border: 1px solid #b8c7d0;
            box-shadow: unset;
            width: 172px;
            height: 32px;
            font-size: 11px;
            font-family: Tahoma;
            padding: 6px 6px 6px 30px;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #bfbfbf;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #bfbfbf;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #bfbfbf;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #bfbfbf;
              }
            
        }
    }

    .logo__container{
        span{
            background-color: $regularFontColor;

        }
    }
    

    
}
