// (min-width: 768px)
@media (min-width: 768px){
    .contents__container{
        ul{
            li{
                float: right;
            }
        }
    }
    
    

}


// (max-width: 767px)
@media (max-width: 768px){
    .header__container{
        height: 60px;
        display: contents;
        

        .logo__container{
            img{
                float: left;
                height: 55px;
            }
        }


        
        .nav__container{
            margin-bottom: 20px;
            display: contents;
            
            ul{
                z-index: 1000;
                position: relative;
                margin-top: 2px;
                width: 100%;
                margin-right: 0px;
                padding-left: 0px;
                padding-right: 0px;
                background: white;
                li{
                    float: unset;
                }

            }
        }

        
        .search__container form{
            position: relative;
            img{
                top: 10px;
            }

            input{
                width:  100%;
                padding: 6px 6px 6px 30px;
            }
        }


    }
    
    .footer__container{
        padding-left: 0px;
        padding-right: 0px;

        div >section {
            float: unset;
            text-align: center;

            ul{
                display: inline-block;
            }
        }
    }

}


// (max-width: 992px)
@media (max-width: 992px){
    .nav__container{
        li a{
            padding: 15px 8px;
        }
    }

}

